BOT_TOKEN=
FP_CHAT_ID=1001905865504
PV_CHAT_ID=1001941984098
SUPERVISOR_USERNAME=fedos_av
DATABASE_URL=sqlite+aiosqlite:///bot.db
CARS_EXCEL_PATH=Парковые авто.xlsx
REMINDER_FIRST_DELAY_MINUTES=10
REMINDER_INTERVAL_MINUTES=30
MAX_REMINDERS=3
ADMIN_USER_IDS=
ADMIN_CHAT_ID=
FP_IGNORED_USERNAMES=Norblacksmith
FP_MANAGER_RESPONSE_DELAY_MINUTES=45
MANAGER_DAYS_OFF=pagorodu:thu,fri;Wuggfi:wed,thu;lalalas19:sat,sun;serb_98:sat,sun
OFFICE_TIMEZONE=Europe/Moscow
MANAGER_DIRECTORY=pagorodu:Агаджанян Арман Андраникович;Wuggfi:Уметалыев Руслан Уметалыевич;lalalas19:Губейдулин Рафаэль Дамирович;serb_98:Петрович Александр Слободанович
SERVICE_USERNAME=Norblacksmith
SERVICE_AMOUNT_REMINDER_INTERVAL_MINUTES=10
